@font-face {
  font-family: MYRIADPRO_BOLD;
  src: url(../font/MYRIADPRO-BOLD.OTF);
}
@font-face {
  font-family: MYRIADPRO_BOLDCOND;
  src: url(../font/MYRIADPRO-BOLDCOND.OTF);
}
@font-face {
  font-family: MYRIADPRO_BOLDCONDIT;
  src: url(../font/MYRIADPRO-BOLDCONDIT.OTF);
}
@font-face {
  font-family: MYRIADPRO_BOLDIT;
  src: url(../font/MYRIADPRO-BOLDIT.OTF);
}
@font-face {
  font-family: MYRIADPRO_COND;
  src: url(../font/MYRIADPRO-COND.OTF);
}
@font-face {
  font-family: MYRIADPRO_CONDIT;
  src: url(../font/MYRIADPRO-CONDIT.OTF);
}
@font-face {
  font-family: MYRIADPRO_REGULAR;
  src: url(../font/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: MYRIADPRO_SEMIBOLD;
  src: url(../font/MYRIADPRO-SEMIBOLD.OTF);
}
@font-face {
  font-family: MYRIADPRO_SEMIBOLDIT;
  src: url(../font/MYRIADPRO-SEMIBOLDIT.OTF);
}
.page {
  font-family: MYRIADPRO_REGULAR !important;
}